#### Agrupamento e Resumo de Dados
***

O agrupamento e resumo de dados são etapas essenciais na análise de dados, permitindo extrair informações úteis e insights valiosos a partir de conjuntos de dados complexos. Essas técnicas nos permitem organizar, resumir e comparar os dados com base em categorias ou critérios específicos.

#### Importação das Bibliotecas

In [1]:
import pandas as pd

#### Coletando Dados de Perfil
***

In [3]:
df = pd.read_csv('./datasets/perfil_clientes.csv', sep=';')
df.head()

,idade,classe_trabalho,escolaridade,anos_estudo,estado_civil,raca,sexo,UF,região,qtde_filhos,salario
0,39,Servidor Público,Ensino Médio Completo,13,Solteiro,Branco,Masculino,RO,Norte,2.0,4754
1,50,Autônomo,Superior Incompleto,13,Casado,Branco,Masculino,AC,Norte,1.0,3923
2,38,Funcionário Setor Privado,Ensino Médio Incompleto,9,Divorciado,Branco,Masculino,AM,Norte,0.0,1100
3,53,Funcionário Setor Privado,Ensino Médio Incompleto,7,Casado,Negro,Masculino,RR,Norte,1.0,1100
4,28,Funcionário Setor Privado,Ensino Médio Completo,13,Casado,Negro,Feminino,PA,Norte,0.0,3430

#### Método groupby
***
Uma das principais ferramentas utilizadas para agrupar e resumir dados no pandas, uma biblioteca popular do Python para análise de dados, é o método groupby. Esse método permite agrupar os dados com base em uma ou mais colunas, criando grupos que compartilham características comuns. Em seguida, podemos aplicar funções de agregação aos grupos para resumir os dados, como contar, somar, calcular média, máximo, mínimo, entre outros.

In [5]:
df.groupby('classe_trabalho')['idade'].mean().sort_values()

classe_trabalho
Menor Aprendiz               17.000000
Estagiário                   19.000000
Funcionário Setor Privado    36.280007
Servidor Público             38.558528
Empresário                   41.006048
Funcionário Público          41.402778
Autônomo                     42.583333
MEI                          44.781818
Desempregado                 45.666667
Aposentado                   72.202247
Name: idade, dtype: float64

In [8]:
df.groupby(['classe_trabalho', 'estado_civil'])['idade'].mean()

classe_trabalho            estado_civil
Aposentado                 Casado           71.235714
                           Divorciado       70.173913
                           Separado         75.666667
                           Solteiro         75.888889
                           União Estável    72.666667
                           Viúvo            73.197183
Autônomo                   Casado           45.197403
                           Divorciado       44.045455
                           Separado         37.000000
                           Solteiro         31.773585
                           União Estável    40.625000
                           Viúvo            57.777778
Desempregado               Casado           54.000000
                           Solteiro         18.000000
                           Viúvo            65.000000
Empresário                 Casado           43.181818
                           Divorciado       43.488095
                           Separado         41.576923
                           Solteiro         33.560000
                           União Estável    38.000000
                           Viúvo            53.866667
Estagiário                 Solteiro         19.000000
Funcionário Público        Casado           43.626263
                           Divorciado       44.619048
                           Separado         46.333333
                           Solteiro         33.548387
                           União Estável    48.000000
                           Viúvo            57.333333
Funcionário Setor Privado  Casado           40.728821
                           Divorciado       41.371242
                           Separado         38.283237
                           Solteiro         27.677116
                           União Estável    38.342105
                           Viúvo            51.685714
MEI                        Casado           46.166667
                           Divorciado       45.838710
                           Separado         45.428571
                           Solteiro         29.782609
                           União Estável    43.500000
                           Viúvo            54.500000
Menor Aprendiz             Casado           17.000000
                           Solteiro         17.000000
Servidor Público           Casado           41.517986
                           Divorciado       43.318182
                           Separado         41.357143
                           Solteiro         31.130435
                           União Estável    34.666667
                           Viúvo            50.250000
Name: idade, dtype: float64

#### Método agg
***
Esse método permite aplicar várias funções de agregação aos grupos definidos pelo groupby. Podemos calcular diferentes métricas para cada grupo ou até mesmo aplicar funções personalizadas.

In [10]:
# Agrupar os dados por categoria e calcular a soma das vendas em cada categoria
df.groupby('raca').agg(
    total = ('qtde_filhos', 'mean'),
    soma_idades = ('idade', sum),
    moda_escolaridade = ('escolaridade')
)

C:\Users\Kesley\AppData\Local\Temp\ipykernel_20872\3503143580.py:2: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby('raca').agg(

             total  soma_idades
raca
Amarelo   2.506849         2378
Branco    2.405600       263720
Indígena  2.325000         2911
Negro     2.347436        29785
Pardo     2.566116         8984

:

#### Método pivot_table
***
Permite criar uma tabela dinâmica a partir dos dados, onde as linhas representam uma categoria, as colunas representam outra categoria e os valores são agregados com base em uma terceira categoria.

#### Método info
***
Fornece um resumo conciso das informações básicas sobre um DataFrame, incluindo o número de linhas, o número de colunas, os nomes das colunas e os tipos de dados de cada coluna. Além disso, ele também mostra a quantidade de memória usada pelo DataFrame. Isso é particularmente útil quando estamos lidando com conjuntos de dados grandes e queremos ter uma visão geral rápida de sua estrutura.

#### Método describe

***
Fornece um resumo estatístico das colunas numéricas de um DataFrame. Ele calcula várias estatísticas descritivas, como contagem, média, desvio padrão, valor mínimo, quartis e valor máximo. Essa função nos ajuda a ter uma visão rápida das principais informações estatísticas de cada coluna numérica, permitindo identificar tendências, distribuições e possíveis outliers nos dados.

### Método Transpose

***
A função transpose pode ser útil em diversas situações, como quando queremos realizar operações em colunas específicas, quando precisamos ajustar a estrutura do DataFrame para uma determinada análise ou quando desejamos apresentar os dados de uma forma mais adequada para visualização.

A função transpose do Pandas nos permite realizar a transposição de um DataFrame, trocando as linhas pelas colunas e as colunas pelas linhas. Essa função é útil quando queremos modificar a orientação dos dados para melhor adequá-los às nossas necessidades de análise e visualização.